@import "settings";
@import "foundation";
@import "font-awesome";
@import "animations";

body{
	background:#f0ce2b; 
	overflow-x: hidden;

}
.centrar{
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1024px;
}
	.contenedor{
		width: 100%;
		text-align: center;
		padding: 0;
		font-family: 'Open Sans Condensed', sans-serif;
		color: #d50c47;
		margin: 30px 0;
		height: 100%;
		position: relative;
	}
		.formulario{
			position: absolute;
		}
			.formulario .chicle{
				top:20%;
			}
				.formulario .chicle img {
				    width: 50%;
				}
			.formulario .form{
				width: 150%;
				background: rgba(255, 255, 255, .4);
			}
			.formulario .form .form-title-div{
				width: 100%; 
				background: #9F2246;
			}
			.formulario .form .form-title-div h3{
				color: white;
			}
			.formulario .form .form-title-div .close-form{
				color: white;
				position: absolute;
				top: -5px;
				right: -85px;
			}
			.formulario .form .text-input{
				width: 90%; 
				margin: 10px;
			}
			.formulario .form .text-area{
				resize: none; 
				width: 90%; 
				margin: 10px; 
				height: 100px;
			}
			.formulario .form .submit-button{
				position: relative;
				border-radius: 5px; 
				background: #C02549;
				border: none;
				width: 40%;
				margin-bottom: 10px;
				right: -50px;
				color: white;
				font-size: 22px;
				padding: 0;
			}
		.logo{
			margin: 0 auto;
			width: 55%;
			max-width: 976px;
		}
			.logo img{
				width: 100%;
			}
		.zapato{
			margin: 20px auto;
			width: 40%;
		}
			.zapato img{
				width: 100%;
			}
		/* estilos progress*/
		.barra-carga{
			text-align: center;
		    width: 40%;
    		margin: 0 auto;
    		background: #fff;
    		border-radius: 30px;
    		height: 25px;
    		border: solid 3px #fff;	
		}
			.barra {
				width: 50%;
				background-color: #bf2549;
				height: 100%;
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px;
				border-top-right-radius: 30px;
				border-bottom-right-radius: 30px;
				border-color: #bf2549;
				animation-name: progressBar;
				animation-iteration-count: infinite;
				animation-duration: 10s;
			}
			@keyframes progressBar {
			  0% {
			    width: 10%;
			  }
			  
			  100% {
			    width: 100%;
			  }
			}
		/*---------------------*/
		.redes{
			font-family: 'Open Sans Condensed', sans-serif;
			color:#d50c47;
		}
			.redes h2{
				font-family: 'Open Sans Condensed', sans-serif;
			    font-size: 30px;
			    font-weight: 800;
			    color: #9f2246;
			    text-align: center;
			    margin: 25px 13%;
			}
			.redes p{
				font-family: 'Open Sans Condensed', sans-serif;
			    font-size: 25px;
			    color: #d50c47;
			    margin: 0;
			}
				.riesgo{
					border: 1px solid #bf2549;
				    font-weight: bold;
				    font-size: 30px;
				    width: 40%;
				    text-align: center;
				    margin: 0 auto;
				    padding: 5px;
				}
			.redes img{
				width: 30px;
				margin: 10px 5px;
			}
	@media only screen and (max-width: 1024px) {
	    .centrar {
		    position: absolute;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    width: 100%;
		}
	}
	
	@media only screen and (min-width: 3000px) {
	    .centrar {
		    position: absolute;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    width: 50%;
		    max-width: 1024px;
		}
	}