---
name: Construcción
url: /
---
<div class="centrar">
	<div class="contenedor">
		<div class="formulario">
			<div class="chicle">
				<img src="/assets/images/chicle-contacto.png" alt="">
			</div>
			<div class="form">
				<ul>
					<li><h4>CONTACTO</h4></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="logo">
		  	<img src="/assets/images/chicle-logo-2.png" alt="Slogan Chicle y pega Creativo">
		 </div>
		 <!--<h2>ESTAMOS TRABAJANDO EN NUESTRA PÁGINA</h2>-->
		 <div class="zapato">
		 	<img src="/assets/images/zapato.png" alt="Logo chicle y pega animado">
		 </div>
		 <div class="barra-carga">
		 	<div class="barra"></div>
		 </div>
		 <div class="redes">
		 	<h2>¿ESTÁS LISTO PARA UNA SOBREDOSIS CREATIVA DE IDEAS PEGAJOSAS QUE TENEMOS PARA TI?</h2>
		 	<p>Síguenos en Redes Sociales</p>
		 	<a href="#"><img src="/assets/images/facebook-chichle.png" alt=""></a>
		 	<a href="#"><img src="/assets/images/instagram-chicle.png" alt=""></a>
		 	<div class="riesgo">
		 		BAJO TU PROPIO RIESGO.
		 	</div>
		 </div>
	</div>
</div>